{
  "prefix": "$",
  "botToken": "123",
  "modules": ["Utility", "Fun", "Meditation"],
  "version": "1.0.0",
  "versioninfo": "Building...",
  "playing": "ready to $help.",
  "channelReacts": [
  ],
  "mongodbURI": "mongodb://localhost:27017",
  "mongodbDatabase": "fq-core",
  "channels": {
    "welcome": "719657894718472225",
    "logs": "719667253842542643",
    "cafe": "719657103010037835",
    "starchannel": "757591456830586935",
    "reportchannel": "791807544087019540"
  },
  "emotes": {
    "bookmark": "791405272581144666",
    "wave": "👋",
    "goodmorning": "🌄",
    "goodnight": "🌛",
    "report": "791805552203792405",
    "star": "⭐"
  },
  "roles": {
    "admin": "719660032152698941"
  },
  "colors": {
    "embedColor": "#ffb980"
  }
}